<div class="container" [class.sign-up-mode]="isSignUpMode">
      <div class="forms-container">
        <div class="signin-signup">
          <!-- Login Form -->
          <form [formGroup]="loginForm" (ngSubmit)="onLogin()" class="sign-in-form">
            <h2 class="title">Sign in</h2>
            <div class="input-field">
              <i class="fas fa-user"></i>
              <input type="text" placeholder="Email" formControlName="email" />
            </div>
            <div class="input-field">
                <i class="fas fa-lock"></i>
                <input
                  [type]="showPassword ? 'text' : 'password'"
                  placeholder="Password"
                  formControlName="password"
                />
                <i
                  class="fas toggle-password"
                  [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'"
                  (click)="togglePasswordVisibility()"
                ></i>
              </div>
              <div class="forgot-password">
                <button type="button" (click)="openForgotPasswordModal()" class="link-button" aria-label="Forgot password">Forgot Password?</button>
                <span class="separator">|</span>
                <button type="button"  (click)="openReverificationModal()" class="link-button" aria-label="Reverify email">Not Verified?</button>
              </div>
            <button type="submit" class="btn" [disabled]="!loginForm.valid">Login</button>
          </form>

          <!-- Sign Up Form -->
          <form [formGroup]="signupForm" (ngSubmit)="onSignup()" class="sign-up-form">
            <h2 class="title">Sign up</h2>
            <div class="input-field">
              <i class="fas fa-user"></i>
              <input type="text" placeholder="Username" formControlName="username" />
            </div>
            <div class="input-field">
              <i class="fas fa-envelope"></i>
              <input type="email" placeholder="Email" formControlName="email" />
            </div>
            <div class="input-field">
                <i class="fas fa-lock"></i>
                <input
                  [type]="showPassword ? 'text' : 'password'"
                  placeholder="Password"
                  formControlName="password"
                />
                <i
                  class="fas toggle-password"
                  [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'"
                  (click)="togglePasswordVisibility()"
                ></i>
              </div>
              <div class="input-field">
                <i class="fas fa-lock"></i>
                <input
                  [type]="showPassword ? 'text' : 'password'"
                  placeholder="Confirm Password"
                  formControlName="confirmPassword"
                />
                <i
                  class="fas toggle-password"
                  [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'"
                  (click)="togglePasswordVisibility()"
                ></i>
              </div>
            <div *ngIf="passwordMismatch" class="error-message">
              Passwords do not match
            </div>
            <button type="submit" class="btn" [disabled]="!signupForm.valid">Sign up</button>
          </form>
        </div>
      </div>

      <div class="panels-container">
        <div class="panel left-panel">
          <div class="content">
            <h3>New here?</h3>
            <p>Join us and start your journey today!</p>
            <button class="btn transparent" (click)="toggleMode()">Sign up</button>
          </div>
        </div>
        <div class="panel right-panel">
          <div class="content">
            <h3>One of us?</h3>
            <p>Sign in and continue your journey with us!</p>
            <button class="btn transparent" (click)="toggleMode()">Sign in</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Forgot Password Modal -->
    <app-forgot-password-modal #forgotPasswordModal></app-forgot-password-modal>
    <app-reverifcation-modal #ReverifcationModal></app-reverifcation-modal>