<!-- header.component.html -->
<header class="header">
  <div class="container">
    <div class="header-wrapper">
      <!-- Logo -->
      <div class="logo">
        <a [routerLink]="['/']">
          <img src="logo.png" alt="UniStore Logo">
          <span class="store-name">UniStore</span>
        </a>
      </div>

      <!-- Search -->
      <div class="search-container">
        <form (ngSubmit)="onSearch(searchInput.value)">
          <input #searchInput type="text" placeholder="Search products..." class="search-input">
          <button type="submit" class="search-button">
            <fa-icon [icon]="faSearch"></fa-icon>
          </button>
        </form>
      </div>

      <!-- Navigation -->
      <nav class="navigation">
        <ul>
          <!-- Cart -->
          <li class="nav-item">
            <a [routerLink]="['/cart']" class="nav-link">
              <fa-icon [icon]="faShoppingCart"></fa-icon>
              <span>Cart</span>
              <span class="badge" *ngIf="cartItems > 0">{{ cartItems }}</span>
            </a>
          </li>
          
          <!-- Profile -->
          <li class="nav-item dropdown">
            <a href="javascript:void(0)" class="nav-link">
              <fa-icon [icon]="faUser"></fa-icon>
              <span>Profile</span>
            </a>
            <div class="dropdown-menu">
              <a [routerLink]="['/account']">My Account</a>
              <a [routerLink]="['/orders']">Orders</a>
              <a [routerLink]="['/wishlist']">Wishlist</a>
              <a [routerLink]="['/logout']">Logout</a>
            </div>
          </li>
          
          <!-- Sign In/Up -->
          <li class="nav-item">
            <a [routerLink]="['/auth']" class="nav-link">
              <fa-icon [icon]="faSignInAlt"></fa-icon>
              <span>Sign In/Up</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>